@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: lightyellow;
}

main {
    width: 800px;
    height: 700px;
    border: solid gray 1px;
    border-radius: 5px;
    margin: 50px;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    background-color: wheat;
}

.heading {
    margin-top: 15px;
    margin-bottom: -5px;
    margin-left: -20px;
    z-index: 0;
}

.grid {
    width: 452px;
    height: 452px;
    border: solid gray 1px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    background-image: url(./Images/Desert.jpg);
    background-size:cover;
    z-index: 0;
}

.gameOver {
    width: 452px;
    height: 452px;
    border: solid gray 1px;
    border-radius: 5px;
    display: none;
    flex-wrap: wrap;
    margin-left: 50px;
    background-image: url(./Images/Desert.jpg);
    background-size:cover;
    z-index: 0;
}

.newScreen {
    text-align: center;
    margin: auto;
}

#playAgain {
    font-family: 'Press Start 2P', cursive;
    width: 100px;
    height: 50px;
    margin: 20px 0px 20px 0px;
    background: rgb(255,18,0);
    background: linear-gradient(214deg, rgba(255,18,0,1) 0%, rgba(255,106,0,1) 50%, rgba(255,252,0,1) 100%);
}

.grid div {
    width: 30px;
    height: 30px;
    /* border: lightgray 1px solid; */
    z-index: 0;
}

.heading img {
    width: 450px;
    margin-left: 50px;
}

.instructions {
    position: absolute;
    width: 180px;
    height: 300px;
    top: 170px;
    right: 80px;
    font-size: 12px;
}

.vitals {
    width: 450px;
    margin-left: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

button {
    font-family: 'Press Start 2P', cursive;
    width: 80px;
    height: 40px;
    margin: 20px 0px 20px 0px;
    background: rgb(255,18,0);
    background: linear-gradient(214deg, rgba(255,18,0,1) 0%, rgba(255,106,0,1) 50%, rgba(255,252,0,1) 100%);
}

.snake {
    background-image: url(./Images/Snake.svg);
    background-size: cover;
    /* background-color: lightgreen; */
}

.indy {
    background-image: url(./Images/Indy.svg);
    background-size: cover;
    /* background-color: sienna; */
}

.whip {
    background-image: url(./Images/Whip.svg); 
    background-size: cover;
    opacity: 30%;
    /* background-color: yellow; */
}

.whipped {
    background-image: url(./Images/smoke\ gif.gif);
}

.arrow {
    font-size: 22px;
}

/* .blankSq {
    background-color: wheat;
    z-index: 0;
} */

.venom {
    background-image: url(./Images/Venom2.png)
    /* background-color: magenta;
    background-size: cover; */
}

